In [53]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1003,tt1606389,30000000,196114570,The Vow,Rachel McAdams|Channing Tatum|Sam Neill|Scott ...,Michael Sucsy,Inspired by True Events,Happy young married couple Paige (McAdams) and...,104,Drama|Romance,Spyglass Entertainment|Screen Gems,2/5/2012,6.9,2012
1100,tt0316396,100000000,121975011,Peter Pan,Jeremy Sumpter|Jason Isaacs|Rachel Hurd-Wood|R...,P.J. Hogan,All children grow up except one.,"In stifling Edwardian London, Wendy Darling me...",113,Adventure|Fantasy|Family,Columbia Pictures|Universal Pictures|Revolutio...,12/25/2003,6.7,2003
833,tt1214962,17000000,12355798,Seeking Justice,Nicolas Cage|Guy Pearce|January Jones|Jennifer...,Roger Donaldson,Vengeance always has a price,"After his wife is assaulted, a husband enlists...",105,Action|Drama|Thriller,Endgame Entertainment|Maguire Entertainment|Ra...,9/2/2011,5.9,2011
540,tt0120681,35000000,74558115,From Hell,Johnny Depp|Heather Graham|Ian Holm|Robbie Col...,Albert Hughes|Allen Hughes,Only the legend will survive.,Frederick Abberline is an opium-huffing inspec...,122,Horror|Mystery|Thriller,Twentieth Century Fox Film Corporation|Underwo...,10/19/2001,6.4,2001
408,tt1325004,68000000,698491347,The Twilight Saga: Eclipse,Kristen Stewart|Robert Pattinson|Taylor Lautne...,David Slade,It all begins ... With a choice.,Bella once again finds herself surrounded by d...,124,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Maverick Films|Imprint En...,6/23/2010,5.9,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [5]:
# Creating a new column profit = revenu - budget
data['profit'] = data['revenue'] - data['budget']
display(data.head())

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
#"+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data.budget == data.budget.max()]
display(max_budget['original_title'])

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
#"+"

In [10]:
max_runtime = data[data.runtime == data.runtime.max()]
display(max_runtime['original_title'])

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
min_runtime = data[data.runtime == data.runtime.min()]
display(min_runtime['original_title'])

768    Winnie the Pooh
Name: original_title, dtype: object

In [12]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
#"+"

# 4. Какова средняя длительность фильмов?

In [13]:
mean_runtime = data['runtime'].mean()
display(mean_runtime)

109.6585494970884

In [14]:
answers['4'] = '2. 110'
#"+"

# 5. Каково медианное значение длительности фильмов?

In [15]:
median_runtime = data['runtime'].median()
display(median_runtime)

107.0

In [16]:
answers['5'] = '1. 107'
#"+"

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
max_profit = data[data.profit == data.profit.max()]
display(max_profit['original_title'])

239    Avatar
Name: original_title, dtype: object

In [18]:
answers['6'] = '5. Avatar (tt0499549)'
#"+"

# 7. Какой фильм самый убыточный?

In [19]:
min_profit = data[data.profit == data.profit.min()]
display(min_profit['original_title'])

1245    The Lone Ranger
Name: original_title, dtype: object

In [20]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
#"+"

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
count_profit = len(data[data.profit > 0].index)
display(count_profit)

1478

In [22]:
answers['8'] = '1. 1478'
#"+"

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
# sample for 2008
max_revenue_2008 = data[data.release_year == 2008]
max_revenue_2008 = max_revenue_2008[max_revenue_2008.revenue == max_revenue_2008.revenue.max()]
display(max_revenue_2008['original_title'])

599    The Dark Knight
Name: original_title, dtype: object

In [24]:
answers['9'] = '4. The Dark Knight (tt0468569)'
#"+"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
# sample for 2012 - 2014
min_profit_12_14 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
min_profit_12_14 = min_profit_12_14[min_profit_12_14.profit == min_profit_12_14.profit.min()]
display(min_profit_12_14['original_title'])

1245    The Lone Ranger
Name: original_title, dtype: object

In [26]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
#"+"

# 11. Какого жанра фильмов больше всего?

In [27]:
column_genres = data['genres']
max_genres = Counter()
for genres in column_genres:
    x = genres.split('|')
    for y in x:
        max_genres[y] +=1
max_genres = pd.Series(max_genres).sort_values(ascending=False).reset_index()
max_genres.columns = ['genres', 'count']
display(max_genres.iloc[0])

genres    Drama
count       782
Name: 0, dtype: object

In [28]:
answers['11'] = '3. Drama'
#"+"

ВАРИАНТ 2

In [29]:
df = data.copy()
df['genres'] = df.genres.str.split('|')
df = df.explode('genres').genres.value_counts().sort_values(ascending=False).index[0]
display(df)

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
data_profit = data[data.profit > 0]
column_genres = data_profit['genres']
max_genres = Counter()
for genres in column_genres:
    x = genres.split('|')
    for y in x:
        max_genres[y] +=1
max_genres = pd.Series(max_genres).sort_values(ascending=False).reset_index()
max_genres.columns = ['genres', 'count']
display(max_genres.iloc[0])

genres    Drama
count       560
Name: 0, dtype: object

In [31]:
answers['12'] = '1. Drama'
#"+"

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
df = data.copy()
df['director'] = df.director.str.split('|')
df = df.explode('director')
max_director = df.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]
display(max_director)

'Peter Jackson'

In [33]:
answers['13'] = '5. Peter Jackson'
#"+"

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
df = data.copy()
df['director'] = df.director.str.split('|')
df['genres'] = df.genres.str.split('|')
df = df.explode('director')
df = df.explode('genres')
max_director_action = df[df.genres == 'Action'].director.value_counts().sort_values(ascending=False).index[0]
display(max_director_action)

'Robert Rodriguez'

In [35]:
answers['14'] = '3. Robert Rodriguez'
#"+"

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
df = data[data.release_year == 2012].copy()
df['cast'] = df.cast.str.split('|')
df=df.explode('cast')
max_revenue_cast = df.groupby('cast')['revenue'].sum().sort_values(ascending=False).index[0]
display(max_revenue_cast)

'Chris Hemsworth'

In [37]:
answers['15'] = '3. Chris Hemsworth'
#"+"

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
df = data[data.budget > data.budget.mean()].copy()
df['cast'] = df.cast.str.split('|')
df = df.explode('cast')
max_budget_cast = df.cast.value_counts().sort_values(ascending=False).index[0]
display(max_budget_cast)

'Matt Damon'

In [39]:
answers['16'] = '3. Matt Damon'
#"+"

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
df = data.copy()
df['cast'] = df.cast.str.split('|')
df['genres'] = df.genres.str.split('|')
df = df.explode('cast')
df = df.explode('genres')
max_genres = df[df.cast == 'Nicolas Cage']['genres'].value_counts().sort_values(ascending=False).index[0]
display(max_genres)

'Action'

In [41]:
answers['17'] = '2. Action'
#"+"

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
df = df[df.production_companies == 'Paramount Pictures']
min_profit_PP = df[df.profit == df.profit.min()]['original_title']
display(min_profit_PP)

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [43]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
#"+"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
maxsum_revenue_year = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]
display(maxsum_revenue_year)

2015

In [45]:
answers['19'] = '5. 2015'
#"+"

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
max_profit_year_WB = (df[df.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum()
      .sort_values(ascending=False).index[0])
display(max_profit_year_WB)

2014

In [47]:
answers['20'] = '1. 2014'
#"+"

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [56]:
df = data.copy()
x = '6/12/2021'
x = dt.strptime(x, '%m/%d/%Y')
print(x)
#df.release_date = df.release_date.apply(lambda x: dt1.strptime(x,'%m/%d/%Y'))
display(df.head(2))

AttributeError: module 'datetime' has no attribute 'strptime'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [49]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014'}

In [50]:
# и убедиться что ни чего не пропустил)
len(answers)

20