In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
676,tt0880578,35000000,32483410,Untraceable,Diane Lane|Billy Burke|Colin Hanks|Joseph Cros...,Gregory Hoblit,A cyber killer has finally found the perfect a...,Special Agent Jennifer Marsh (Diane Lane) work...,101,Drama,Lakeshore Entertainment|Cohen/Pearl Production...,1/22/2008,5.8,2008
1512,tt0466342,20000000,48548426,Date Movie,Alyson Hannigan|Adam Campbell|Sophie Monk|Jenn...,Aaron Seltzer|Jason Friedberg,An Unprotected Comedy,Spoof of romantic comedies which focuses on a ...,83,Comedy,Regency Enterprises|Epsilon Motion Pictures|Ne...,2/17/2006,3.9,2006
368,tt1053859,5000000,38610009,The Grudge 3,Johanna Braddy|Gil McKinney|Emi Ikehata|Jadie-...,Toby Wilkins,You can't escape the curse.,"Jake, the sole survivor of The Grudge 2 massac...",90,Horror|Thriller,Ghost House Pictures|Ozla Pictures|Stage 6 Films,5/12/2009,5.4,2009
938,tt0257756,42000000,63781810,High Crimes,Ashley Judd|Morgan Freeman|Jim Caviezel|Amanda...,Carl Franklin,Everything you trust. Everything you know. May...,High powered lawyer Claire Kubik finds her wor...,115,Drama|Mystery|Thriller|Crime,Twentieth Century Fox Film Corporation|Regency...,4/3/2002,6.0,2002
1016,tt1673434,120000000,829000000,The Twilight Saga: Breaking Dawn - Part 2,Kristen Stewart|Robert Pattinson|Taylor Lautne...,Bill Condon,The epic finale that will live forever,"After the birth of Renesmee, the Cullens gathe...",115,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Sunswept Entertainment|Te...,11/13/2012,6.1,2012

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [5]:
# Creating a new column profit = revenu - budget
data['profit'] = data['revenue'] - data['budget']
display(data.head())

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
#"+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data.budget == data.budget.max()]
display(max_budget['original_title'])

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
#"+"

In [10]:
max_runtime = data[data.runtime == data.runtime.max()]
display(max_runtime['original_title'])

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
min_runtime = data[data.runtime == data.runtime.min()]
display(min_runtime['original_title'])

768    Winnie the Pooh
Name: original_title, dtype: object

In [12]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
#"+"

# 4. Какова средняя длительность фильмов?

In [13]:
mean_runtime = data['runtime'].mean()
display(mean_runtime)

109.6585494970884

In [14]:
answers['4'] = '2. 110'
#"+"

# 5. Каково медианное значение длительности фильмов?

In [15]:
median_runtime = data['runtime'].median()
display(median_runtime)

107.0

In [16]:
answers['5'] = '1. 107'
#"+"

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
max_profit = data[data.profit == data.profit.max()]
display(max_profit['original_title'])

239    Avatar
Name: original_title, dtype: object

In [18]:
answers['6'] = '5. Avatar (tt0499549)'
#"+"

# 7. Какой фильм самый убыточный?

In [19]:
min_profit = data[data.profit == data.profit.min()]
display(min_profit['original_title'])

1245    The Lone Ranger
Name: original_title, dtype: object

In [20]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
#"+"

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
count_profit = len(data[data.profit > 0].index)
display(count_profit)

1478

In [22]:
answers['8'] = '1. 1478'
#"+"

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
# sample for 2008
max_revenue_2008 = data[data.release_year == 2008]
max_revenue_2008 = max_revenue_2008[max_revenue_2008.revenue == max_revenue_2008.revenue.max()]
display(max_revenue_2008['original_title'])

599    The Dark Knight
Name: original_title, dtype: object

In [24]:
answers['9'] = '4. The Dark Knight (tt0468569)'
#"+"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
# sample for 2012 - 2014
min_profit_12_14 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
min_profit_12_14 = min_profit_12_14[min_profit_12_14.profit == min_profit_12_14.profit.min()]
display(min_profit_12_14['original_title'])

1245    The Lone Ranger
Name: original_title, dtype: object

In [26]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
#"+"

# 11. Какого жанра фильмов больше всего?

In [27]:
column_genres = data['genres']
max_genres = Counter()
for genres in column_genres:
    x = genres.split('|')
    for y in x:
        max_genres[y] +=1
max_genres = pd.Series(max_genres).sort_values(ascending=False).reset_index()
max_genres.columns = ['genres', 'count']
display(max_genres.iloc[0])

genres    Drama
count       782
Name: 0, dtype: object

In [28]:
answers['11'] = '3. Drama'
#"+"

ВАРИАНТ 2

In [58]:
df=data.copy()
df['genres'] = df.genres.str.split('|')
df = df.explode('genres')
max_genres = df.genres.value_counts().reset_index()
display(max_genres.il)

              index  genres
0             Drama     782
1            Comedy     683
2          Thriller     596
3            Action     582
4         Adventure     415
5             Crime     315
6           Romance     308
7            Family     260
8   Science Fiction     248
9           Fantasy     222
10           Horror     176
11          Mystery     168
12        Animation     139
13            Music      64
14          History      62
15              War      58
16          Western      19
17      Documentary       8
18          Foreign       2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
data_profit = data[data.profit > 0]
column_genres = data_profit['genres']
max_genres = Counter()
for genres in column_genres:
    x = genres.split('|')
    for y in x:
        max_genres[y] +=1
max_genres = pd.Series(max_genres).sort_values(ascending=False).reset_index()
max_genres.columns = ['genres', 'count']
display(max_genres.iloc[0])

genres    Drama
count       560
Name: 0, dtype: object

In [34]:
answers['12'] = '1. Drama'
#"+"

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [49]:
df=data.copy()
df['director'] = df.director.str.split('|')
df=df.explode('director')
max_director = df.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]
display(max_director)

'Peter Jackson'

In [ ]:
answers['13'] = '5. Peter Jackson'
#"+"

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama'}

In [36]:
# и убедиться что ни чего не пропустил)
len(answers)

12