In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
646,tt1023111,20000000,41627431,Never Back Down,Sean Faris|Amber Heard|Cam Gigandet|Djimon Hou...,Jeff Wadlow,Win or lose... Everyone has their fight.,Rebellious Jake Tyler is lured into an ultimat...,115,Drama|Action,Summit Entertainment|Mandalay Pictures|Baumgar...,3/4/2008,6.5,2008
997,tt1659337,13000000,33400000,The Perks of Being a Wallflower,Logan Lerman|Emma Watson|Ezra Miller|Paul Rudd...,Stephen Chbosky,We are infinite.,A coming-of-age story based on the best-sellin...,102,Drama|Romance,Summit Entertainment|Mr. Mudd Production,9/20/2012,7.6,2012
1869,tt0211181,85000000,183611771,102 Dalmatians,Glenn Close|Ioan Gruffudd|Alice Evans|Tim McIn...,Kevin Lima,Meet Two Unlikely Heroes With A Bone To Pick.,Get ready for a howling good time as an all ne...,100,Comedy|Family,Walt Disney Pictures|Cruella Productions,10/7/2000,5.0,2000
1051,tt0431021,14000000,85446075,The Possession,Jeffrey Dean Morgan|Natasha Calis|Madison Dave...,Ole Bornedal,Fear The Demon That Doesn't Fear God,A young girl buys an antique box at a yard sal...,92,Horror|Thriller,Ghost House Pictures|North Box Productions,8/30/2012,5.8,2012
1089,tt0314331,40000000,244931766,Love Actually,Bill Nighy|Gregor Fisher|Colin Firth|Sienna Gu...,Richard Curtis,The ultimate romantic comedy.,Follows seemingly unrelated people as their li...,135,Comedy|Romance|Drama,DNA Films,9/7/2003,6.9,2003

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [5]:
# Creating a new column profit = revenu - budget
data['profit'] = data['revenue'] - data['budget']
display(data.head(2))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354

In [6]:
# Creating a new column month_release. Contains release month
data['month_release'] = (data.release_date.apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y'))
                         .apply(lambda x: x.strftime('%m')))
display(data.head(2))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month_release
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,06
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,05

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
#"+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data.budget == data.budget.max()]
display(max_budget['original_title'])

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
#"+"

In [11]:
max_runtime = data[data.runtime == data.runtime.max()]
display(max_runtime['original_title'])

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
min_runtime = data[data.runtime == data.runtime.min()]
display(min_runtime['original_title'])

768    Winnie the Pooh
Name: original_title, dtype: object

In [13]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
#"+"

# 4. Какова средняя длительность фильмов?

In [14]:
mean_runtime = data['runtime'].mean()
display(mean_runtime)

109.6585494970884

In [15]:
answers['4'] = '2. 110'
#"+"

# 5. Каково медианное значение длительности фильмов?

In [16]:
median_runtime = data['runtime'].median()
display(median_runtime)

107.0

In [17]:
answers['5'] = '1. 107'
#"+"

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
max_profit = data[data.profit == data.profit.max()]
display(max_profit['original_title'])

239    Avatar
Name: original_title, dtype: object

In [19]:
answers['6'] = '5. Avatar (tt0499549)'
#"+"

# 7. Какой фильм самый убыточный?

In [20]:
min_profit = data[data.profit == data.profit.min()]
display(min_profit['original_title'])

1245    The Lone Ranger
Name: original_title, dtype: object

In [21]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
#"+"

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
count_profit = len(data[data.profit > 0].index)
display(count_profit)

1478

In [23]:
answers['8'] = '1. 1478'
#"+"

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
# sample for 2008
max_revenue_2008 = data[data.release_year == 2008]
max_revenue_2008 = max_revenue_2008[max_revenue_2008.revenue == max_revenue_2008.revenue.max()]
display(max_revenue_2008['original_title'])

599    The Dark Knight
Name: original_title, dtype: object

In [25]:
answers['9'] = '4. The Dark Knight (tt0468569)'
#"+"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
# sample for 2012 - 2014
min_profit_12_14 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
min_profit_12_14 = min_profit_12_14[min_profit_12_14.profit == min_profit_12_14.profit.min()]
display(min_profit_12_14['original_title'])

1245    The Lone Ranger
Name: original_title, dtype: object

In [27]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
#"+"

# 11. Какого жанра фильмов больше всего?

In [28]:
column_genres = data['genres']
max_genres = Counter()
for genres in column_genres:
    x = genres.split('|')
    for y in x:
        max_genres[y] +=1
max_genres = pd.Series(max_genres).sort_values(ascending=False).reset_index()
max_genres.columns = ['genres', 'count']
display(max_genres.iloc[0])

genres    Drama
count       782
Name: 0, dtype: object

In [29]:
answers['11'] = '3. Drama'
#"+"

ВАРИАНТ 2

In [30]:
df = data.copy()
df['genres'] = df.genres.str.split('|')
df = df.explode('genres').genres.value_counts().sort_values(ascending=False).index[0]
display(df)

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
data_profit = data[data.profit > 0]
column_genres = data_profit['genres']
max_genres = Counter()
for genres in column_genres:
    x = genres.split('|')
    for y in x:
        max_genres[y] +=1
max_genres = pd.Series(max_genres).sort_values(ascending=False).reset_index()
max_genres.columns = ['genres', 'count']
display(max_genres.iloc[0])

genres    Drama
count       560
Name: 0, dtype: object

In [32]:
answers['12'] = '1. Drama'
#"+"

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
df = data.copy()
df['director'] = df.director.str.split('|')
df = df.explode('director')
max_director = df.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]
display(max_director)

'Peter Jackson'

In [34]:
answers['13'] = '5. Peter Jackson'
#"+"

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
df = data.copy()
df['director'] = df.director.str.split('|')
df['genres'] = df.genres.str.split('|')
df = df.explode('director')
df = df.explode('genres')
max_director_action = df[df.genres == 'Action'].director.value_counts().sort_values(ascending=False).index[0]
display(max_director_action)

'Robert Rodriguez'

In [36]:
answers['14'] = '3. Robert Rodriguez'
#"+"

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
df = data[data.release_year == 2012].copy()
df['cast'] = df.cast.str.split('|')
df=df.explode('cast')
max_revenue_cast = df.groupby('cast')['revenue'].sum().sort_values(ascending=False).index[0]
display(max_revenue_cast)

'Chris Hemsworth'

In [38]:
answers['15'] = '3. Chris Hemsworth'
#"+"

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
df = data[data.budget > data.budget.mean()].copy()
df['cast'] = df.cast.str.split('|')
df = df.explode('cast')
max_budget_cast = df.cast.value_counts().sort_values(ascending=False).index[0]
display(max_budget_cast)

'Matt Damon'

In [40]:
answers['16'] = '3. Matt Damon'
#"+"

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
df = data.copy()
df['cast'] = df.cast.str.split('|')
df['genres'] = df.genres.str.split('|')
df = df.explode('cast')
df = df.explode('genres')
max_genres = df[df.cast == 'Nicolas Cage']['genres'].value_counts().sort_values(ascending=False).index[0]
display(max_genres)

'Action'

In [42]:
answers['17'] = '2. Action'
#"+"

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
df = df[df.production_companies == 'Paramount Pictures']
min_profit_PP = df[df.profit == df.profit.min()]['original_title']
display(min_profit_PP)

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [44]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
#"+"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
maxsum_revenue_year = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]
display(maxsum_revenue_year)

2015

In [46]:
answers['19'] = '5. 2015'
#"+"

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
max_profit_year_WB = (df[df.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum()
      .sort_values(ascending=False).index[0])
display(max_profit_year_WB)

2014

In [48]:
answers['20'] = '1. 2014'
#"+"

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
df = data.copy()
max_films_month = df.groupby(['month_release'])['original_title'].count().sort_values(ascending=False).index[0]
display(max_films_month)

'09'

In [50]:
answers['21'] = '4. Сентябрь'
#"+"

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
df = data.copy()
df = df[(df.month_release == '06') | (df.month_release == '07') | (df.month_release == '08')]
films_summer = len(df.index)
display(films_summer)

450

In [52]:
answers['22'] = '2. 450'
#"+"

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
df = data.copy()
df = df[(df.month_release == '01') | (df.month_release == '02') | (df.month_release == '12')]
df['director'] = df.director.str.split('|')
df = df.explode('director')
df = df.groupby(['director'])['original_title'].count().sort_values(ascending=False).index[0]
display(df)

'Peter Jackson'

In [54]:
answers['23'] = '5. Peter Jackson'
#"+"

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
df['original_title'] = df.original_title.apply(lambda x: len(x))
maxmeanlen = df.groupby(['production_companies'])['original_title'].mean().sort_values(ascending=False).index[0]
display(maxmeanlen)

'Four By Two Productions'

In [56]:
answers['24'] = '5. Four By Two Productions'
#"+"

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
df = data.copy()
df['overview'] = df.overview.str.split(' ')
df['overview'] = df.overview.apply(lambda x: len(x))
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
maxmeanlen = df.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False).index[0]
display(maxmeanlen)

'Midnight Picture Show'

In [58]:
answers['25'] = '3. Midnight Picture Show'
#"+"

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
df = data.copy()
df = df[df.vote_average > df.vote_average.quantile(q=0.99)]    
display(df)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month_release
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,06
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,07
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,02
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,07
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,07
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,09
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10

In [60]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
#"+"

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
df = data.copy()
df['cast'] = df.cast.str.split('|')
pair_actor = Counter()
for i in range(0,len(df.index)):
    for j in combinations(df.cast[i], 2):
        pair_actor[j] +=1
#display(pair_actor)
pair_actor.most_common(3)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

In [62]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
#"+"

ВАРИАНТ 2

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [64]:
# и убедиться что ни чего не пропустил)
len(answers)

27